@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
/*font-family: 'Quattrocento Sans', sans-serif;*/
body{background-image: url("../images/clean.jpg");
}

img{
  float: right;
  width: 60%;
  height: 60%;
}
.eachPost{
  width:100%;
  height: 100px;

}
.titlesDiv{color:white;
width: 350px;
border-bottom: orange 1px solid;
height: 100px;}
#mover{font-family: 'Quattrocento Sans';
width:20%;
margin: auto;
margin-bottom: 40px;}
form{text-align: center;}
.blank{
  width:20%;
}

.ups{
  font-size: 9px;
  text-align: right;
  vertical-align: bottom;}

#mover h1{
text-align: center;
color: white;
}
.qpng{width: 12%;
height: 12%;
float: left;
margin-top: 25%;}
.saved{border: 1px solid orange;
border-radius: 20px;padding: 2px;}
#subFind{border-radius: 20px;}
#subButton{border-radius: 10px;}
/*
#moverKids h1{
text-align: center;
color: white;
}
.nav{width: 100%;}

.nav ul{text-align: center;}

.nav li{display:inline;color: white;padding: 5%;}

.holder{
width:50%;
margin: auto;}

.row{height: 75px;}

.stories{
  font-family: 'Quattrocento Sans';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid orange;
}

a p{color:white;}
a p:visited{color: white;}
.thumbsDiv{
  height: 75px;
}
.stories p{display: inline-block;float: left;}*/
/*.stories img{display: inline-block;}*/
/*.dividers{
margin: auto;
border-bottom: solid 1px black;
width:60%;
height:1px;
}*/

/*.showPics{
visibility: visible;
border-radius: 20px;
border: solid 1px black;
width: 60px;
height: 40px;}

.pics{
border-radius: 10px;
width: 90%;
height: 90%}*/

/*p{text-align:center;}*/

/*.qpng{margin-left: -20px;width: 20px;
  position:relative;float: left;}
.saved{border: 1px solid orange;
border-radius: 10px;padding: 2px;}
.savPic{*/
  /*display: none;*/
  /*width: 35%;
}
#subFind{border-radius: 20px;}
#subButton{border-radius: 10px;}
#savMenu{width: 100px;
height: 100px;
background-color: white;}*/
